#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Tile {
  font-family: "nyt-franklin";
  width: 58px;
  height: 58px;
  position: relative;
  margin: 2px 2px 0px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.75rem;
  line-height: 1;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #b59f3b;
}

.Tile::before {
  content: "";
  display: inline-block;
  padding-bottom: 100%;
}

.Tile[data-state=empty] {
  border: 2px solid #3a3a3c;
  background-color: transparent;
  color: #444;
}

.Tile[data-state=absent] {
  background-color: #3a3a3c;
}

.Tile[data-state=present] {
  background-color: #b5953b;
}

.Tile[data-state=correct] {
  background-color: #538d4e;
}

button[data-state=absent] {
  background-color: #3a3a3c;
}

button[data-state=present] {
  background-color: #b5953b;
}

button[data-state=correct] {
  background-color: #538d4e;
}